@import '../styles/utilities/variables';
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 40%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: $color_primary;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100;
  max-width: 1200px;
  margin:  0 auto;
}