@import '../../styles/utilities/variables';
header {
    .content {
        padding: 20px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &__logo {
            position: relative;
            width: 100%;
            max-width: 100px;
            height: 83px;
            margin: 0;
        }
        &__title {
            padding-left: 20px;
            .title {
                text-transform: uppercase;
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 0;
                color: $color_secundary;
            }
            .subtitle {
               font-size: 18px;
               font-weight: 300;
               color: $color_secundary; 
            }
        }
    }
}