.banner {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background: url('../../../public/images/image_banner.png') no-repeat;
        top: 0;
        right: 0;
        width: 890px;
        height: 600px;
        background-size: contain;
    }
    .content {
        width: 100%;
        max-width: 600px;
        &__title {
            font-size: 94px;
            line-height: 90px;
            font-weight: bold;
        }
        &__text{
            font-size: 25px;
            font-weight: 100;
            line-height: 125%;
        }
    }
}